/* 
    ----------------
     Footer section
    ----------------
*/
.main-footer {
  background: var(--dark-gray);
}
.main-footer__pay, .main-footer__sup, .main-footer__wrapper {
  align-items: center;
  display: flex;
}
.main-footer__wrapper {
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px 30px;
}
.main-footer__text {
  color: var(--gray);
  margin: 15px 0px;
  text-align: center;
}

.pay__item,
.sup__text {
  margin: 0px 15px 0px 0px;
}

.pay__item_last {
  margin: 0px;
}

.sup__text {
  color: var(--red);
  font-size: 18px;
}

@media (max-width: 950px) {
  .footer-wrapper {
    padding: 20px 10px;
  }
}
@media (max-width: 790px) {
  .footer-wrapper {
    flex-direction: column;
    padding: 0px 0px 10px;
  }
}