/* 
    ----------------
     Header section
    ----------------
*/
.cart__btn,
.main-header__info,
.main-header__list,
.main-header__wrapper,
.main-header__btns-block {
  align-items: center;
  display: flex;
}

.main-header {
  padding: 10px 30px;
}
.main-header__wrapper {
  justify-content: space-between;
}
.main-header__burger {
  display: none;
}
.main-header__btns-block {
  position: relative;
}
.main-header__cart-block {
  background: var(--white);
  box-shadow: 0px 0px 10px var(--gray);
  border-radius: 10px;
  padding: 5px;
}

.info__logo {
  margin: 0px 10px 0px 0px;
}
.info__delivery {
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
}
.info__delivery_text {
  color: var(--gray);
}

.list__el {
  margin: 0px 25px 0px 0px;
}
.list__el_active {
  border-radius: 10px;
  background: var(--red);
  color: var(--white);
  padding: 10px;
}
.list__el_last {
  margin: 0px;
}

.list__el:hover {
  color: var(--red);
  text-decoration: underline;
}

.cart__btn {
  background: var(--red);
  border-radius: 20px;
  color: var(--white);
  justify-content: center;
  height: 40px;
  width: 150px;
}
.cart__btn__icon {
  margin: 0px 10px 0px 0px;
}
.cart__btn__text {
  font-size: 16px;
  font-weight: 600;
}

.cart__btn:hover,
.btn__cart:hover {
  background: var(--light-red);
  box-shadow: 0px 0px 10px var(--gray);
  transform: scale(1.05);
}

@media (max-width: 1200px) {
  .info__delivery {
    display: none;
  }
}
@media (max-width: 800px) {
  .main-header {
    padding: 10px;
  }
  .main-header__burger {
    display: block;
    position: relative;
    height: 20px;
    width: 30px;
    z-index: 4;
  }
  .main-header__burger::after, .main-header__burger::before, .main-header__burger span {
    background: var(--black);
    height: 2px;
    left: 0px;
    position: absolute;
    transition: all 0.3s ease 0s;
    width: 30px;
  }
  .main-header__burger::after, .main-header__burger::before {
    content: "";
  }
  .main-header__burger::after {
    bottom: 0px;
  }
  .main-header__burger::before {
    top: 0px;
  }
  .main-header__burger span {
    top: 9px;
  }
  .main-header__burger.active::before {
    top: 9px;
    transform: rotate(45deg);
  }
  .main-header__burger.active::after {
    bottom: 9px;
    transform: rotate(-45deg);
  }
  .main-header__burger.active span {
    transform: scale(0);
  }
  .main-header__info {
    display: none;
  }
  .main-header__list {
    background: var(--white);
    flex-direction: column;
    justify-content: center;
    left: 0px;
    height: 100%;
    position: fixed;
    transition: all 0.3s;
    top: -100%;
    width: 100%;
    z-index: 3;
  }
  .main-header__list.active {
    top: 0px;
  }
  .list__el {
    margin: 20px 0px 0px;
  }
}
@media (max-width: 320px) {
  .cart__btn {
    padding: 10px;
    width: 44px;
  }
  .cart__btn__icon {
    margin: 0px;
  }
  .cart__btn__text {
    display: none;
  }
}