/* 
    ---------------
    Profile section
    ---------------
*/
.profile-block {
  align-items: center;
  background: var(--profile-color);
  border: 3px solid var(--black);
  border-radius: 20px;
  display: none;
  flex-direction: column;
  padding: 40px 25px 10px;
  height: 440px;
  width: 400px;
}
.profile-block__icon {
  align-self: flex-end;
  background: var(--red);
  border-radius: 0px 17px 0px 20px;
  cursor: pointer;
  padding: 12px;
  margin: -40px -25px 0px;
  height: 50px;
  width: 50px;
}
.profile-block__icon:hover {
  background: var(--light-red);
}
.profile-block__title {
  font-size: 32px;
}
.profile-block__form {
  margin: 20px 0px;
  width: 100%;
}
.profile-block__text {
  flex: 1 0 auto;
  text-align: center;
}
.profile-block__text span {
  cursor: pointer;
  color: var(--red);
  font-weight: 600;
}
.profile-block__text span:hover {
  text-decoration: underline;
}

.form__item {
  position: relative;
  height: 30px;
  width: 100%;
  z-index: 1;
}
.form__item_email {
  margin: 25px 0px;
}
.form__input {
  background: inherit;
  border-bottom: 2px solid var(--black);
  border-radius: 10px 10px 0px 0px;
  font-size: 16px;
  font-weight: 400;
  padding: 10px 30px 10px 10px;
  transition: background 0.5s;
  width: 100%;
}
.form__input::placeholder {
  color: var(--black);
}
.form__input:hover, .form__input:focus {
  background: var(--inputs-hover-color);
}
.form__icon {
  bottom: 0px;
  position: absolute;
  right: 10px;
}
.form__checkbox {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 30px 0px 10px;
}
.form__checkbox_text {
  font-size: 16px;
  font-weight: 400;
  margin: 0px 0px 0px 10px;
}
.form__checkbox_text span {
  cursor: pointer;
  font-weight: 600;
}
.form__checkbox_text span:hover {
  text-decoration: underline;
}
.form__btn {
  background: var(--red);
  border-radius: 10px;
  color: var(--white);
  font-size: 18px;
  font-weight: 600;
  height: 50px;
  padding: 15px 73px;
  width: 350px;
}
.form__btn_login {
  padding: 15px 140px;
  margin: 74px 0px 0px;
}

@media (max-width: 430px) {
  .profile-block {
    padding: 40px 10px 10px;
    width: 300px;
  }
  .profile-block__icon {
    margin: -40px -10px 0px;
  }
  .profile-block__title {
    font-size: 28px;
  }
  .form__btn {
    padding: 15px 40px;
    width: 100%;
  }
  .form__btn_login {
    padding: 15px 110px;
    margin: 50px 0px 20px;
  }
}
@media (max-width: 310px) {
  .profile-block {
    width: 250px;
  }
  .profile-block__title {
    font-size: 24px;
  }
  .form__btn {
    padding: 15px 12px;
  }
  .form__btn_login {
    padding: 15px 80px;
  }
}
.active_profile {
  display: flex;
}