@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");
/* 
    ----------------
     Global section
    ----------------
*/
:root {
  --black: #000000;
  --white: #ffffff;
  --transp-white: rgba(255, 255, 255, 0.93);
  --profile-color: rgba(255, 255, 255, 0.886);
  --inputs-hover-color: rgba(255, 255, 255, 0.131);
  --gray: #A7A7A7;
  --very-light-gray: #f7f7f7;
  --light-gray: #DDDDDD;
  --dark-gray: #464646;
  --red: #EF314B;
  --light-red: #e85266;
  --green: #4AB838;
}

body {
  background: var(--white);
  color: var(--black);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.lock {
  overflow: hidden;
}

.main-header,
.main-content,
.main-footer__wrapper,
.main-header__goods-navigation {
  margin: 0px auto;
  max-width: 1280px;
}

.loader,
.slider-item,
.product__item__counter,
.main-content__contacts {
  align-items: center;
  display: flex;
  justify-content: center;
}

.btn {
  background: var(--red);
  border-radius: 20px;
  color: var(--white);
  padding: 8px 15px;
  height: 40px;
}
.btn__icon {
  margin: 0px 10px 0px 0px;
}
.btn__text {
  font-size: 16px;
  font-weight: 600;
}

.btn:hover,
.form__btn:hover,
.btn__cart:hover,
.login__btn:hover,
.max-amount-block__btn:hover {
  background: var(--light-red);
  box-shadow: 0px 0px 10px var(--gray);
  transform: scale(1.05);
}

.title {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
}

.catalog__title,
.product__title,
.left-block__title {
  color: var(--red);
  font-size: 32px;
}

.product__sep,
.main-header__sep {
  background: var(--light-gray);
  height: 2px;
}

/* 
    --------------
     Main section
    --------------
*/
.main-content {
  padding: 0px 65px;
  position: relative;
}

.cart__icon {
  align-items: center;
  background: var(--red);
  border-radius: 20px;
  bottom: 130px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
  position: fixed;
  right: 100px;
  opacity: 0;
  transition: opacity 0.5s;
  z-index: 1;
}
.cart__icon img {
  height: 20px;
  width: 20px;
}
.cart__icon img:first-child {
  margin: 0px 0px 10px;
}

.cart__icon:hover {
  background: var(--light-red);
  box-shadow: 0px 0px 10px var(--gray);
  transform: scale(1.05);
}

.max-amount-block {
  align-items: center;
  background: var(--dark-gray);
  box-shadow: 0px 0px 10px var(--gray);
  border-radius: 20px;
  color: var(--light-gray);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 15px;
  position: fixed;
  height: 150px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
}
.max-amount-block__text {
  text-align: center;
  margin: 0px 0px 20px;
}
.max-amount-block__btn {
  background: var(--red);
  border-radius: 10px;
  padding: 10px 0px;
  width: 100px;
}

@media (max-width: 767px) {
  .main-content {
    padding: 0px 35px;
  }
  .cart__icon {
    right: 20px;
    bottom: 140px;
  }
}
@media (max-width: 520px) {
  .main-content {
    padding: 0px 15px;
  }
}
/*
    ---------------------
    Slick-slider settings
    ---------------------
*/
.slick-list {
  overflow: hidden;
}
.slick-track {
  display: flex;
}
.slick-arrow {
  border-radius: 100px;
  font-size: 0px;
  position: absolute;
  margin-top: -30px;
  top: 50%;
  height: 30px;
  width: 30px;
  z-index: 1;
}
.slick-arrow.slick-prev {
  left: 0px;
  background: url("../../resourses/img/main-icons/left-arrow-icon.svg") center center no-repeat;
}
.slick-arrow.slick-next {
  background: url("../../resourses/img/main-icons/right-arrow-icon.svg") center center no-repeat;
  right: 0px;
}

/* 
    ----------------
     Header section
    ----------------
*/
.btn,
.main-header__info,
.main-header__list,
.main-header__top-block,
.main-header__btns-block,
.main-header__goods-list {
  align-items: center;
  display: flex;
}

.main-header {
  padding: 10px 30px 0px;
}
.main-header__top-block {
  justify-content: space-between;
  margin: 0px 0px 10px;
}
.main-header__burger {
  display: none;
}
.main-header__btns-block {
  position: relative;
}
.main-header__cart-block {
  background: var(--white);
  box-shadow: 0px 0px 10px var(--gray);
  border-radius: 10px;
  padding: 5px;
}
.main-header__goods-list {
  justify-content: space-around;
  padding: 10px 0px;
  text-align: center;
  transition: all 0.3s;
}

.info__logo {
  margin: 0px 10px 0px 0px;
}
.info__delivery {
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
}
.info__delivery_text {
  color: var(--gray);
}

.list__el {
  margin: 0px 25px 0px 0px;
}
.list__el_active {
  border-radius: 10px;
  background: var(--red);
  color: var(--white);
  padding: 10px;
}
.list__el_last {
  margin: 0px;
}

.goods-list__el {
  cursor: pointer;
  margin: 5px 10px;
}

.list__el:hover,
.goods-list__el:hover {
  color: var(--red);
  text-decoration: underline;
}

.list__el_active:hover {
  color: var(--white);
  text-decoration: none;
}

.login__btn {
  margin: 0px 50px 0px 0px;
}

.cart__btn {
  justify-content: center;
  padding: 0px;
  width: 150px;
}

@media (max-width: 1200px) {
  .info__delivery {
    display: none;
  }
  .login__btn {
    margin: 0px 30px 0px;
  }
}
@media (max-width: 980px) {
  .main-header {
    padding: 10px;
  }
  .main-header__burger {
    display: block;
    position: relative;
    height: 20px;
    width: 30px;
    z-index: 4;
  }
  .main-header__burger::after, .main-header__burger::before, .main-header__burger span {
    background: var(--black);
    height: 2px;
    left: 0px;
    position: absolute;
    transition: all 0.3s ease 0s;
    width: 30px;
  }
  .main-header__burger::after, .main-header__burger::before {
    content: "";
  }
  .main-header__burger::after {
    bottom: 0px;
  }
  .main-header__burger::before {
    top: 0px;
  }
  .main-header__burger span {
    top: 9px;
  }
  .main-header__burger.active::before {
    top: 9px;
    transform: rotate(45deg);
  }
  .main-header__burger.active::after {
    bottom: 9px;
    transform: rotate(-45deg);
  }
  .main-header__burger.active span {
    transform: scale(0);
  }
  .main-header__info {
    display: none;
  }
  .main-header__list {
    background: var(--white);
    flex-direction: column;
    justify-content: center;
    left: 0px;
    height: 100%;
    position: fixed;
    transition: all 0.3s;
    top: -100%;
    width: 100%;
    z-index: 3;
  }
  .main-header__list.active {
    top: 0px;
  }
  .list__el {
    margin: 20px 0px 0px;
  }
}
@media (max-width: 767px) {
  .main-header__goods-list {
    flex-wrap: wrap;
  }
  .goods-list__el {
    flex: 0 0 30%;
    margin: 10px 0px 0px;
  }
}
@media (max-width: 520px) {
  .main-header__sep,
  .main-header__goods-list {
    display: none;
  }
  .login__btn {
    margin: 0px 10px 0px 0px;
  }
}
@media (max-width: 340px) {
  .btn {
    padding: 10px;
    width: 44px;
  }
  .btn__icon {
    margin: 0px;
  }
  .btn__text {
    display: none;
  }
}
/*
    ------------
    Sales slider
    ------------
*/
.slider {
  position: relative;
  overflow: hidden;
  margin: 50px 0px;
  width: 100%;
  z-index: 0;
}
.slider-item {
  background: url("../../resourses/img/background-images/banner-1.jpg") center center no-repeat;
  border-radius: 20px;
  flex-direction: column;
  text-align: center;
  padding: 50px;
  height: 416px;
}
.slider-item__title, .slider-item__subtitle {
  font-size: 32px;
  margin: 0px 0px 30px;
  text-transform: uppercase;
}
.slider-item__title {
  color: var(--green);
}
.slider-item__subtitle {
  color: var(--red);
}
.slider-item__text, .slider-item__btn {
  color: var(--white);
  font-size: 20px;
  font-weight: 400;
}
.slider-item__text {
  margin: 0px 0px 60px;
}
.slider-item__btn {
  padding: 10px 30px;
}
.slider-item_2 {
  align-items: flex-end;
  background: url("../../resourses/img/background-images/banner-2.jpg") center center no-repeat;
  text-align: right;
}
.slider-item_3 {
  align-items: flex-start;
  background: url("../../resourses/img/background-images/banner-3.jpg") center center no-repeat;
  text-align: left;
}

@media (max-width: 767px) {
  .slider {
    display: none;
  }
}
/* 
    ---------------
    Catalog section
    ---------------
*/
.catalog__title {
  display: none;
  margin: 10px 0px 20px;
  text-align: center;
}

.catalog-block {
  display: grid;
  gap: 20px;
  grid-template: repeat(2, 205px)/1fr 1fr 0.5fr 1fr;
  grid-template-areas: "fruits bread pasta cheese" "fruits sweets pasta milk";
  margin: 0px 0px 50px;
}
.catalog-block__item {
  cursor: pointer;
  display: flex;
  box-shadow: 0px 0px 10px var(--gray);
  justify-content: flex-end;
  position: relative;
}
.catalog-block__item_fruits {
  background: url("../../resourses/img/background-images/fruits-back.jpg") center center no-repeat;
  background-size: cover;
  border-radius: 20px 0px 0px 20px;
  grid-area: fruits;
}
.catalog-block__item_bread {
  background: url("../../resourses/img/background-images/bread-back.jpg") center center no-repeat;
  background-size: cover;
  grid-area: bread;
}
.catalog-block__item_sweets {
  background: url("../../resourses/img/background-images/sweets-back.jpg") center center no-repeat;
  background-size: cover;
  grid-area: sweets;
}
.catalog-block__item_pasta {
  background: url("../../resourses/img/background-images/pasta-back.jpg") center center no-repeat;
  background-size: cover;
  grid-area: pasta;
}
.catalog-block__item_cheese {
  background: url("../../resourses/img/background-images/cheese-back.jpg") center center no-repeat;
  background-size: cover;
  border-radius: 0px 20px 0px 0px;
  grid-area: cheese;
}
.catalog-block__item_milk {
  background: url("../../resourses/img/background-images/milk-back.jpg") center center no-repeat;
  background-size: cover;
  border-radius: 0px 0px 20px 0px;
  grid-area: milk;
}
.catalog-block__item__btn {
  background: var(--white);
  box-shadow: 0px 0px 10px var(--black);
  border-radius: 10px;
  position: absolute;
  bottom: 15px;
  right: 15px;
  height: 40px;
  width: 130px;
}
.catalog-block__item__btn:hover {
  background: var(--light-gray);
  box-shadow: 0px 0px 10px var(--gray);
  font-weight: 600;
  transform: scale(1.05);
}

@media (max-width: 1280px) {
  .catalog-block__item__btn_pasta {
    width: 85px;
  }
}
@media (max-width: 950px) {
  .catalog-block {
    display: none;
  }
}
@media (max-width: 520px) {
  .catalog__title {
    display: block;
  }
  .catalog-block {
    display: grid;
    grid-template: repeat(4, 40vmin)/repeat(12, 1fr);
    grid-template-areas: "fruits fruits fruits fruits fruits fruits bread bread bread bread bread bread" "fruits fruits fruits fruits fruits fruits sweets sweets sweets sweets sweets sweets" "pasta pasta pasta pasta pasta cheese cheese cheese cheese cheese cheese cheese" "pasta pasta pasta pasta pasta milk milk milk milk milk milk milk";
    margin: 0px 0px 10px;
  }
  .catalog-block__item_fruits {
    border-radius: 20px 0px 0px 0px;
  }
  .catalog-block__item_bread {
    border-radius: 0px 20px 0px 0px;
  }
  .catalog-block__item_pasta {
    border-radius: 0px 0px 0px 20px;
  }
  .catalog-block__item_cheese {
    border-radius: 0px;
  }
  .catalog-block__item_milk {
    border-radius: 0px 0px 20px 0px;
  }
  .catalog-block__item__btn {
    width: 110px;
    bottom: 10px;
    right: 5px;
  }
}
@media (max-width: 350px) {
  .catalog-block {
    grid-template: repeat(6, 100px)/1fr;
    grid-template-areas: "fruits" "bread" "sweets" "pasta" "cheese" "milk";
  }
  .catalog-block__item_fruits {
    border-radius: 20px 20px 0px 0px;
  }
  .catalog-block__item_bread, .catalog-block__item_pasta {
    border-radius: 0px;
  }
  .catalog-block__item_milk {
    border-radius: 0px 0px 20px 20px;
  }
}
/*
    ----------------
    Products section
    ----------------
*/
.product__title {
  margin: 0px 0px 20px;
}

.product__sep {
  margin: 0px 0px 25px;
}

.product-block {
  display: grid;
  gap: auto;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  margin: 0px 0px 50px;
}
.product-block__item {
  align-items: center;
  box-shadow: 0px 0px 10px var(--gray);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  height: 360px;
  width: 230px;
}
.product-block__slider-item {
  background: var(--white);
}

.product__item__image {
  margin: 20px 0px;
  height: 130px;
  width: 230px;
}
.product__item__image img {
  max-width: 100%;
}
.product__item__title {
  font-weight: 600;
  margin: 0px 0px 20px;
  text-align: center;
}
.product__item__country {
  color: var(--gray);
  flex: 1 0 auto;
}
.product__item__cost {
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
  width: 100%;
}
.product__item__price {
  font-weight: 600;
}
.product__item__weight {
  color: var(--gray);
}
.product__item__main-btn {
  border-radius: 10px;
  font-size: 18px;
  padding: 8px 62px;
  margin: 20px 10px 10px;
  width: 210px;
}
.product__item__btns-block {
  display: flex;
  margin: 20px 10px 10px;
  width: 210px;
}
.product__item__btn-minus, .product__item__btn-plus {
  border-radius: 10px;
  font-size: 18px;
  padding: 8px 19px;
  width: 50px;
}
.product__item__counter {
  border: 1px solid var(--red);
  border-radius: 10px;
  background: var(--white);
  margin: 0px 10px;
  width: 90px;
}

@media (max-width: 1100px) {
  .product-block__item,
  .product__item__image,
  .product-block__slider-item {
    width: 190px;
  }
  .product__item__main-btn {
    padding: 8px 42px;
    width: 170px;
  }
  .product__item__btns-block {
    width: 170px;
  }
  .product__item__counter {
    width: 50px;
  }
}
@media (max-width: 950px) {
  .product__title {
    text-align: center;
  }
  .product-block {
    gap: 25px;
    grid-template: repeat(2, 360px)/repeat(2, 230px);
    justify-content: space-around;
  }
  .product-block__item, .product-block__slider-item {
    width: 230px;
  }
  .product__item__image {
    width: 230px;
  }
  .product__item__main-btn {
    padding: 8px 62px;
    width: 210px;
  }
  .product__item__btns-block {
    width: 210px;
  }
  .product__item__counter {
    width: 90px;
  }
}
@media (max-width: 767px) {
  .product__title {
    margin: 20px 0px;
  }
}
@media (max-width: 520px) {
  .product__sep {
    margin: 0px;
  }
  .product-block {
    display: block;
    position: relative;
    overflow: hidden;
    margin: 0px auto;
    height: 400px;
    width: 100%;
  }
  .product-block__item {
    width: 230px;
  }
  .product-block__slider-item {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 400px;
  }
}
@media (max-width: 340px) {
  .product-block__item,
  .product__item__image,
  .product-block__slider-item {
    width: 190px;
  }
  .product__item__main-btn {
    padding: 8px 42px;
    width: 170px;
  }
  .product__item__btns-block {
    width: 170px;
  }
  .product__item__counter {
    width: 50px;
  }
}
/* 
    ----------------
    Contacts section
    ----------------
*/
.contacts {
  background: var(--white);
  flex-wrap: wrap;
  margin: 0px 0px 50px;
}
.contacts__left-block {
  border-radius: 20px;
  box-shadow: 0px 0px 10px var(--gray);
  padding: 15px;
  height: 280px;
  width: 500px;
  z-index: 0;
}
.contacts__right-block {
  box-shadow: 0px 0px 10px var(--gray);
  margin-left: -50px;
  height: 260px;
  z-index: 1;
}

.left-block__title {
  margin: 0px 0px 30px;
}
.left-block__section {
  align-items: center;
  display: flex;
}
.left-block__section_email {
  margin: 30px 0px;
}
.left-block__icon {
  margin: 0px 20px 0px 0px;
  height: 20px;
  width: 20px;
}
.left-block__text {
  font-size: 20px;
  font-weight: 400;
}

@media (max-width: 1100px) {
  .contacts__right-block {
    display: none;
  }
}
@media (max-width: 520px) {
  .contacts {
    margin: 0px 0px 30px;
    width: 100%;
  }
  .contacts__left-block {
    height: 230px;
  }
  .left-block__title {
    text-align: center;
    margin: 0px 0px 10px;
  }
  .left-block__section_email {
    margin: 20px 0px;
  }
  .left-block__text {
    font-size: 18px;
  }
}
/* 
    ----------------
     Footer section
    ----------------
*/
.main-footer {
  background: var(--dark-gray);
}
.main-footer__pay, .main-footer__sup, .main-footer__wrapper {
  align-items: center;
  display: flex;
}
.main-footer__wrapper {
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px 30px;
}
.main-footer__text {
  color: var(--gray);
  margin: 15px 0px;
  text-align: center;
}

.pay__item,
.sup__text {
  margin: 0px 15px 0px 0px;
}

.pay__item_last {
  margin: 0px;
}

.sup__text {
  color: var(--red);
  font-size: 18px;
}

@media (max-width: 950px) {
  .footer-wrapper {
    padding: 20px 10px;
  }
}
@media (max-width: 790px) {
  .footer-wrapper {
    flex-direction: column;
    padding: 0px 0px 10px;
  }
}
/* 
    ---------------
    Profile section
    ---------------
*/
.profile-block {
  align-items: center;
  background: var(--profile-color);
  border: 3px solid var(--black);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 40px 25px 10px;
  position: fixed;
  transform: translate(-50%, -50%) scale(0);
  transition: all 0.3s;
  top: 50%;
  left: 50%;
  height: 440px;
  width: 400px;
}
.profile-block__icon {
  align-self: flex-end;
  background: var(--red);
  border-radius: 0px 17px 0px 20px;
  cursor: pointer;
  padding: 12px;
  margin: -40px -25px 0px;
  height: 50px;
  width: 50px;
}
.profile-block__icon:hover {
  background: var(--light-red);
}
.profile-block__title {
  font-size: 32px;
}
.profile-block__form {
  margin: 20px 0px;
  width: 100%;
}
.profile-block__text {
  flex: 1 0 auto;
  text-align: center;
}
.profile-block__text span {
  cursor: pointer;
  color: var(--red);
  font-weight: 600;
}
.profile-block__text span:hover {
  text-decoration: underline;
}

.form__item {
  position: relative;
  height: 30px;
  width: 100%;
  z-index: 1;
}
.form__item_email {
  margin: 25px 0px;
}
.form__input {
  background: inherit;
  border-bottom: 2px solid var(--black);
  border-radius: 10px 10px 0px 0px;
  font-size: 16px;
  font-weight: 400;
  padding: 10px 30px 10px 10px;
  transition: background 0.5s;
  width: 100%;
}
.form__input::placeholder {
  color: var(--black);
}
.form__input:hover, .form__input:focus {
  background: var(--inputs-hover-color);
}
.form__icon {
  bottom: 0px;
  position: absolute;
  right: 10px;
}
.form__checkbox {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 30px 0px 10px;
}
.form__checkbox_text {
  font-size: 16px;
  font-weight: 400;
  margin: 0px 0px 0px 10px;
}
.form__checkbox_text span {
  cursor: pointer;
  font-weight: 600;
}
.form__checkbox_text span:hover {
  text-decoration: underline;
}
.form__btn {
  background: var(--red);
  border-radius: 10px;
  color: var(--white);
  font-size: 18px;
  font-weight: 600;
  height: 50px;
  padding: 15px 73px;
  width: 350px;
}
.form__btn_login {
  padding: 15px 140px;
  margin: 74px 0px 0px;
}

@media (max-width: 430px) {
  .profile-block {
    padding: 40px 10px 10px;
    width: 300px;
  }
  .profile-block__icon {
    margin: -40px -10px 0px;
  }
  .profile-block__title {
    font-size: 28px;
  }
  .form__btn {
    padding: 15px 40px;
    width: 100%;
  }
  .form__btn_login {
    padding: 15px 110px;
    margin: 50px 0px 20px;
  }
}
@media (max-width: 310px) {
  .profile-block {
    width: 250px;
  }
  .profile-block__title {
    font-size: 24px;
  }
  .form__btn {
    padding: 15px 12px;
  }
  .form__btn_login {
    padding: 15px 80px;
  }
}
.active_profile {
  transform: translate(-50%, -50%) scale(1);
}

/* 
    --------------
    Loader section
    --------------
*/
.loader {
  background: var(--white);
  position: fixed;
  overflow: hidden;
  left: 0;
  top: 0;
  transition: opacity 1s;
  height: 100%;
  width: 100%;
  z-index: 4;
}
.loader__icon {
  animation: fill 1.3s linear infinite alternate;
  border: 4px solid var(--black);
  border-radius: 0px 0px 4px 4px;
  color: var(--red);
  display: inline-block;
  position: relative;
  height: 48px;
  width: 48px;
}
.loader__icon::after {
  border-radius: 0px 4px 4px 0px;
  border: 4px solid var(--black);
  content: "";
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
  height: 25px;
  width: 20px;
}

@keyframes fill {
  0% {
    box-shadow: 0 0 inset;
  }
  100% {
    box-shadow: 0 -48px inset;
  }
}
/* 
    ------------
    Cart section
    ------------
*/
.main-header__cart-block {
  bottom: -410px;
  position: absolute;
  right: 0px;
  height: 400px;
  width: 375px;
  z-index: 2;
}

.item__btn,
.item__counter,
.item__btns-block,
.cart-block__result {
  align-items: center;
  display: flex;
}

.cart-block__title {
  padding: 0px 0px 5px;
  text-align: center;
}
.cart-block__sep {
  background: var(--light-gray);
  height: 2px;
}
.cart-block__items {
  overflow-y: scroll;
  height: 260px;
}
.cart-block__item {
  display: grid;
  gap: 5px;
  grid-template: repeat(2, 50px)/0.8fr 1fr 0.9fr 1.3fr;
  grid-template-areas: "image title title price" "image buttons buttons delete";
  margin: 15px 0px 0px;
}
.cart-block__result {
  justify-content: space-between;
  padding: 12px 5px;
}
.cart-block__btns-block {
  display: flex;
  float: right;
  padding: 0px 20px;
}

.item__image {
  grid-area: image;
}
.item__image img {
  border-radius: 10px;
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.item__title {
  grid-area: title;
  font-weight: 600;
  padding: 10px 0px 0px;
}
.item__price {
  align-self: center;
  grid-area: price;
  justify-self: center;
  font-weight: 600;
}
.item__btns-block {
  grid-area: buttons;
}
.item__counter, .item__btn {
  background: var(--white);
  border: 2px solid var(--light-gray);
  justify-content: center;
  height: 40px;
  width: 40px;
}
.item__counter:hover, .item__btn:hover {
  background: var(--very-light-gray);
}
.item__counter {
  border-radius: 5px 0px 0px;
}
.item__delete {
  align-self: center;
  grid-area: delete;
  cursor: pointer;
  font-size: 14px;
  text-align: center;
}
.item__delete:hover {
  color: var(--red);
  text-decoration: underline;
}

.plus-btn,
.minus-btn {
  border-left: 1px solid var(--light-gray);
}

.plus-btn {
  border-radius: 0px 5px 0px 0px;
}

.btn__order,
.btn__cart {
  border-radius: 10px;
  font-size: 16px;
  padding: 10px;
  height: 42px;
}

.btn__cart {
  background: var(--red);
  color: var(--white);
  font-weight: 600;
  width: 110px;
}

.btn__order {
  background: var(--white);
  border: 2px solid var(--light-gray);
  margin: 0px 20px 0px 0px;
  width: 150px;
}

.btn__order:hover {
  background: var(--very-light-gray);
}

.result__title,
.result__price,
.cart-block__title {
  font-size: 24px;
}

@media (max-width: 400px) {
  .main-header__cart-block {
    width: 290px;
  }
  .cart-block__btns-block {
    padding: 0px;
  }
}
.hide {
  display: none;
}