@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");
/* 
    ----------------
     Global section
    ----------------
*/
body {
  background: #FFFFFF;
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  background: var(--light-gray);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--red);
  border-radius: 5px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.no-scroll {
  overflow: hidden;
}

.main-sep {
  background: #DDDDDD;
  flex: 0 0 2px;
}

.main-sep,
.main-header,
.main-content {
  margin: 0px auto;
  max-width: 1280px;
  width: 100%;
}

.main-content,
.form-block__title::before {
  align-items: center;
  display: flex;
  justify-content: center;
}

/*
    --------------
    Header section
    --------------
*/
.main-header {
  align-items: center;
  display: flex;
  padding: 10px;
}
.main-header__logo {
  margin: 0px 50px 0px 0px;
}
.main-header__text {
  line-height: 20px;
  width: 180px;
}
.main-header__text span {
  font-weight: 600;
}

@media (max-width: 340px) {
  .main-header__logo {
    margin: 0px 20px 0px 0px;
  }
}
/*
    ------------
    Main section
    ------------
*/
.main-content__form {
  display: flex;
  flex-direction: column;
  margin: 20px 0px 0px;
}

.main-content {
  flex: 1 0 auto;
  padding: 0px 10px;
}

/*
    ------------
    Form section
    ------------
*/
.form-block__title {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 28px;
  margin: 20px 0px 10px;
  position: relative;
}
.form-block__title_delivery {
  margin: 20px 0px 5px;
}
.form-block__title_delivery::before {
  content: "2";
}
.form-block__title::before {
  box-shadow: 0px 0px 10px #A7A7A7;
  border-radius: 100px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  position: absolute;
  top: 3px;
  left: -100px;
  height: 22px;
  width: 22px;
}
.form-block__title_user::before {
  content: "1";
}
.form-block__title_pay::before {
  content: "3";
}
.form-block__title_order::before {
  content: "4";
}
.form-block__subtitle {
  font-weight: 600;
  margin: 0px 0px 20px;
}
.form-block__section {
  position: relative;
}
.form-block__section_pay {
  display: flex;
}
.form-block__section::before {
  background: #DDDDDD;
  content: "";
  position: absolute;
  left: -90px;
  height: 100%;
  width: 2px;
}
.form-block__btn {
  background: #EF314B;
  border-radius: 15px;
  color: var(--white);
  font-size: 18px;
  margin: 30px auto;
  padding: 8px 15px;
  height: 40px;
  width: 200px;
}

.section__item {
  box-shadow: 0px 0px 10px #DDDDDD;
  border: 1px solid #FFFFFF;
  border-radius: 10px;
  position: relative;
  margin: 0px 0px 10px;
  padding: 10px;
  width: 300px;
}
.section__item_pay, .section__item_pickup {
  align-items: center;
  display: flex;
}
.section__item_tel, .section__item__radio, .section__item_pay-cash {
  margin: 0px 10px 10px 0px;
}
.section__item_pay {
  height: 60px;
}
.section__item__label {
  color: #A7A7A7;
  font-size: 16px;
}
.section__item__input {
  background: inherit;
  border-bottom: 1px solid #A7A7A7;
  font-size: 18px;
  margin: 10px 0px 0px;
  width: 245px;
}
.section__item__input_order, .section__item__input_delivery {
  width: 100%;
}
.section__item__check, .section__item__cross {
  bottom: 16px;
  position: absolute;
  right: 20px;
}
.section__item__check {
  height: 14px;
  width: 18px;
}
.section__item__cross {
  height: 15px;
  width: 15px;
}
.section__item__icon {
  margin: 0px 10px 0px 0px;
  height: 30px;
  width: 30px;
}

.section__item:hover {
  background: #F7F7F7;
  box-shadow: 0px 0px 10px #A7A7A7;
}

.section__items {
  display: flex;
}

.label_darkness {
  color: #464646;
}

.form-block__btn:hover {
  background: #E85266;
  box-shadow: 0px 0px 10px #A7A7A7;
  transform: scale(1.05);
}

@media (max-width: 840px) {
  .section__items,
  .form-block__section_pay {
    flex-direction: column;
  }
}
@media (max-width: 525px) {
  .form-block__title::before,
  .form-block__section::before {
    display: none;
  }
}
@media (max-width: 340px) {
  .form-block__title {
    font-size: 24px;
  }
  .section__item {
    width: 280px;
  }
  .section__item__check, .section__item__cross {
    right: 5px;
  }
}
/* 
    --------------
    Loader section
    --------------
*/
.loader {
  align-items: center;
  background: #FFFFFF;
  display: flex;
  justify-content: center;
  position: fixed;
  overflow: hidden;
  transition: opacity 1s;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  z-index: 5;
}
.loader__icon {
  animation: fill 1.3s linear infinite alternate;
  border: 4px solid #000000;
  border-radius: 0px 0px 4px 4px;
  color: #EF314B;
  display: inline-block;
  position: relative;
  height: 48px;
  width: 48px;
}
.loader__icon::after {
  border: 4px solid #000000;
  border-radius: 0px 4px 4px 0px;
  content: "";
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
  height: 25px;
  width: 20px;
}

@keyframes fill {
  0% {
    box-shadow: 0px 0px inset;
  }
  100% {
    box-shadow: 0px -48px inset;
  }
}
.right-input {
  border: 1px solid #4AB838;
}

.wrong-input {
  border: 1px solid #EF314B;
}

.yandex-map {
  box-shadow: 0px 0px 10px #E85266;
  height: 300px;
  width: 100%;
}

.hide {
  display: none;
}

.active_delivery {
  width: 100%;
}