main_page/.vscode 
main_page/css/banner-slider_style.css
main_page/css/footer_style.css
main_page/css/header_style.css
main_page/css/catalog_style.css
main_page/css/products_style.css
main_page/css/slick-slider_style.css
main_page/css/contacts_style.css
main_page/css/profile_style.css
main_page/css/loader_style.css
main_page/css/cart_style.css

cart_page/.vscode
cart_page/css/footer_style.css
cart_page/css/header_style.css
cart_page/css/profile_style.css
cart_page/css/loader_style.css
cart_page/css/cart_style.css