@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

/* 
    ----------------
     Global section
    ----------------
*/

:root {
    --black: #000000;
    --white: #ffffff;
    --profile-color: rgba(255, 255, 255, 0.886);
    --inputs-hover-color: rgba(255, 255, 255, 0.131);
    --gray: #A7A7A7;
    --very-light-gray: #f7f7f7;
    --light-gray: #DDDDDD;
    --dark-gray: #464646;
    --btn-hover-color: #2a2a2a;
    --red: #EF314B;
    --light-red: #e85266;
}

body {
    background: var(--white);
    color: var(--black);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.lock { 
    pointer-events: none; 
}

.title {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
}

.main-sep,
.main-header,
.main-content,
.main-footer__wrapper {
    margin: 0px auto;
    max-width: 1280px;
    width: 100%;
}

.main-sep {
    background: var(--light-gray);
    height: 2px;
}

.cart__btn:hover,
.btn__cart:hover,
.login__btn:hover {
    background: var(--light-red);
    box-shadow: 0px 0px 10px var(--gray);
    transform: scale(1.05);
}

/* 
    --------------
     Main section
    --------------
*/

.main-content {
    flex: 1 0 auto;
    padding: 0px 35px;

    &__image {
        height: 400px;
        width: 600px;
        margin: 30px auto 50px;

        & img {
            height: 100%;
            width: 100%;
        }
    }

    &__title {
        font-size: 24px;
        margin: 0px 0px 20px;
        text-align: center;
    }

    &__text {
        margin: 0px 0px 10px;
        text-align: center;

        & a {
            color: var(--red);
            text-decoration: underline;
        }
    }
}

.max-amount-block {
    align-items: center;
    background: var(--dark-gray);
    box-shadow: 0px 0px 10px var(--dark-gray);
    border-radius: 15px;
    color: var(--light-gray);
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 1;
    position: fixed;
    padding: 20px 15px 10px;
    height: 110px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s;
    width: 205px;
    z-index: 3;

    &__text {
        text-align: center;
        margin: 0px 0px 10px;
    }

    &__btn {
        background: var(--red);
        border-radius: 15px;
        color: var(--light-gray);
        font-weight: 600;
        padding: 10px 0px;
        width: 100px;
    }
}

.max-amount-block__btn:hover {
    background: var(--light-red);
    box-shadow: 0px 0px 10px var(--btn-hover-color);
    transform: scale(1.05);
}

@media(max-width: 1100px) {
    .main-content {
        padding: 0px 25px;

        &__image {
            height: 200px;
            width: 300px;
        }
    }
}

@media(max-width: 850px) {
    .main-content {
        margin: 0px 0px 20px;
    }
}

@media(max-width: 767px) {
    .main-content {
        padding: 0px 25px 
    }
}

@media (max-width: 520px) {
    .main-content {
        padding: 0px 15px;
    }
}

@import "./header_style.scss";
@import "./cart_style.scss";
@import "./footer_style.scss";
@import "./profile_style.scss";
@import "./loader_style.scss";

.hide {
    display: none;
}

.hide-element {
    opacity: 0;
    pointer-events: none;
}
