/*
    --------------
    Header section
    --------------
*/
.main-header {
    align-items: center;
    display: flex;
    padding: 10px;

    &__logo {
        margin-right: 50px;
    }

    &__text {
        line-height: 20px;
        width: 180px;

        & span {
            font-weight: 600;
        }
    }
}

@media(max-width: 340px) {
    .main-header__logo {
        margin-right: 20px;
    }
}
