@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

/* 
    ----------------
     Global section
    ----------------
*/

:root {
    --black: #000000;
    --white: #ffffff;
    --inputs-hover-color: rgba(255, 255, 255, 0.131);
    --gray: #A7A7A7;
    --very-light-gray: #f7f7f7;
    --light-gray: #DDDDDD;
    --dark-gray: #464646;
    --red: #EF314B;
    --light-red: #e85266;
    --green: #4AB838;
}

body {
    background: var(--white);
    color: var(--black);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    overflow-x: hidden;

    &::-webkit-scrollbar {
        width: 10px;

        &-track {
            background: var(--light-gray);
        }

        &-thumb {
            background-color: var(--red);
            border-radius: 5px;
        }
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.no-scroll {
    overflow: hidden;
}

.main-sep {
    background: var(--light-gray);
    flex: 0 0 2px;
}

.main-sep,
.main-header,
.main-content {
    margin: 0px auto;
    max-width: 1280px;
    width: 100%;
}

.main-content,
.form-block__title::before {
    align-items: center;
    display: flex;
    justify-content: center;
}


.main-content__form {
    display: flex;
    flex-direction: column;
}

.main-content {
    flex: 1 0 auto;
    padding: 0px 10px;
}

@import "./header_style.scss";
@import "./form_style.scss";
@import "../../resourses/scss/loader_style.scss";

.right-input {
    border: 1px solid var(--green); 
}

.wrong-input {
    border: 1px solid var(--red);
}

.yandex-map {
    box-shadow: 0px 0px 10px var(--light-gray);
    height: 300px;
    width: 100%;
}

.hide {
    display: none;
}

.active_delivery {
    width: 100%;
}
