// Import different variables
@import "../../resourses/scss/variables.scss";

/* 
    ----------------
    Contacts section
    ----------------
*/

.contacts {
    align-items: center;
    display: flex;
    justify-content: center;
    background: $white;
    flex-wrap: wrap;
    margin: 0px 0px 50px;

    &__left-block {
        border-radius: 20px;
        box-shadow: 0px 0px 10px $gray;
        padding: 15px;
        height: 280px;
        width: 500px;
        z-index: 0;
    }

    &__right-block {
        box-shadow: 0px 0px 10px $gray;
        margin-left: -50px;
        height: 260px;
        z-index: 1;
    }
}

.left-block {
    &__title {
        color: $red;
        font-size: 26px;
        margin: 0px 0px 30px;
    }

    &__section {
        align-items: center;
        display: flex;

        &_email {
            margin: 30px 0px;
        }
    }

    &__icon {
        margin: 0px 20px 0px 0px; 
        height: 20px;
        width: 20px;
    }

    &__text {
        font-size: 20px;
        font-weight: 400;
    }
}

@media(max-width: 1100px) {
    .contacts {
        flex-wrap: wrap;

        &__right-block {
            margin: 20px 0px 0px;
        }
    }
}

@media(max-width: 540px) {
    .contacts__right-block {
        display: none;
    }
}

@media(max-width: 520px) {
    .contacts {
        margin: 20px 0px 30px;
        width: 100%;

        &__left-block {
            height: 190px;
        }
    }

    .left-block__title {
        text-align: center;
        margin: 0px 0px 10px;
    }

    .left-block__section_email {
        margin: 20px 0px;
    }

    .left-block__text {
        font-size: 18px;
    }
}