// Import different variables
@import "../../resourses/scss/variables.scss";

/* 
    ---------------
    Catalog section
    ---------------
*/

.catalog__title {
    display: none;
    margin: 10px 0px 20px;
    text-align: center;
}

.catalog-block {
    display: grid;
    gap: 20px;
    grid-template: repeat(2, 205px) / 1fr 1fr 0.5fr 1fr;
    grid-template-areas: 
        "fruits bread pasta cheese"
        "fruits sweets pasta milk";
    margin: 0px 0px 50px;

    &__item {
        cursor: pointer;
        display: flex;
        box-shadow: 0px 0px 10px $gray;
        justify-content: flex-end;
        position: relative;

        &_fruits {
            background: url("../../resourses/img/background-images/fruits-back.jpg") center center no-repeat;
            background-size: cover;
            border-radius: 20px 0px 0px 20px;
            grid-area: fruits;
        }

        &_bread {
            background: url("../../resourses/img/background-images/bread-back.jpg") center center no-repeat;
            background-size: cover;
            grid-area: bread;
        }

        &_sweets {
            background: url("../../resourses/img/background-images/sweets-back.jpg") center center no-repeat;
            background-size: cover;
            grid-area: sweets;
        }

        &_pasta {
            background: url("../../resourses/img/background-images/pasta-back.jpg") center center no-repeat;
            background-size: cover;
            grid-area: pasta;
        }

        &_cheese {
            background: url("../../resourses/img/background-images/cheese-back.jpg") center center no-repeat;
            background-size: cover;
            border-radius: 0px 20px 0px 0px;
            grid-area: cheese;
        }

        &_milk {
            background: url("../../resourses/img/background-images/milk-back.jpg") center center no-repeat;
            background-size: cover;
            border-radius: 0px 0px 20px 0px;
            grid-area: milk;
        }

        &__btn {
            background: $white;
            box-shadow: 0px 0px 10px $black;
            border-radius: 10px;
            position: absolute;
            bottom: 15px;
            right: 15px;
            height: 40px;
            width: 130px;
        }

        &__btn:hover {
            background: $line-color;
            box-shadow: 0px 0px 10px $gray;
            font-weight: 600;
            transform: scale(1.05);
        }
    }
}

@media(max-width: 1280px) {
    .catalog-block__item__btn_pasta {
        width: 85px;
    }
}

@media(max-width: 950px) {
    .catalog-block {
        display: none;
    }  
}

@media(max-width: 520px) {
    .catalog__title {
        display: block;
    }

    .catalog-block {
        display: grid;
        grid-template: repeat(4, 40vmin) / repeat(12, 1fr);
        grid-template-areas: 
            "fruits fruits fruits fruits fruits fruits bread bread bread bread bread bread"
            "fruits fruits fruits fruits fruits fruits sweets sweets sweets sweets sweets sweets"
            "pasta pasta pasta pasta pasta cheese cheese cheese cheese cheese cheese cheese"
            "pasta pasta pasta pasta pasta milk milk milk milk milk milk milk";
        margin: 0px 0px 10px;

        &__item_fruits {
            border-radius: 20px 0px 0px 0px;
        }

        &__item_bread {
            border-radius: 0px 20px 0px 0px;
        }

        &__item_pasta {
            border-radius: 0px 0px 0px 20px;
        }

        &__item_cheese {
            border-radius: 0px;
        }

        &__item_milk {
            border-radius: 0px 0px 20px 0px;
        }

        &__item__btn {
            bottom: 10px;
            right: 5px;
            width: 110px;
        }
    }
}

@media(max-width: 350px) {
    .catalog-block {
        grid-template: repeat(6, 100px) / 1fr;
        grid-template-areas:
            "fruits"
            "bread"
            "sweets"
            "pasta"
            "cheese"
            "milk";

        &__item_fruits {
            border-radius: 20px 20px 0px 0px;
        }

        &__item_bread,
        &__item_pasta {
            border-radius: 0px;
        }

        &__item_milk {
            border-radius: 0px 0px 20px 20px;
        }
    }
}
