/* 
    ----------------
    Contacts section
    ----------------
*/

.contacts {
    background: var(--white);
    flex-wrap: wrap;
    margin-bottom: 50px;

    &__left-block {
        border-radius: 20px;
        box-shadow: 0px 0px 10px var(--gray);
        padding: 15px;
        height: 280px;
        width: 500px;
        z-index: 0;
    }

    &__right-block {
        box-shadow: 0px 0px 10px var(--gray);
        margin-left: -50px;
        height: 260px;
        z-index: 1;
    }
}

.left-block {
    &__title {
        margin-bottom: 30px;
    }

    &__section {
        align-items: center;
        display: flex;

        &_email {
            margin-block: 30px;
        }
    }

    &__icon {
        margin-right: 20px; 
        height: 20px;
        width: 20px;
    }

    &__text {
        font-size: 20px;
        font-weight: 400;
    }
}

@media(max-width: 1100px) {
    .contacts__right-block {
        display: none;
    }
}

@media(max-width: 520px) {
    .contacts {
        margin-bottom: 30px;
        width: 100%;

        &__left-block {
            height: 230px;
        }
    }

    .left-block__title {
        text-align: center;
        margin-bottom: 10px;
    }

    .left-block__section_email {
        margin-block: 20px;
    }

    .left-block__text {
        font-size: 18px;
    }
}