/* 
    ----------------
     Header section
    ----------------
*/

.btn,
.main-header__info,
.main-header__list,
.main-header__top-block,
.main-header__btns-block,
.main-header__goods-list {
    align-items: center;
    display: flex;
}

.main-header {
    padding: 10px 30px 0px;

    &__top-block {
        justify-content: space-between;
        margin: 0px 0px 10px;
    }

    &__burger {
        display: none;
    }

    &__btns-block {
        position: relative;
    }

    &__cart-block {
        background: var(--white);
        box-shadow: 0px 0px 10px var(--gray);
        border-radius: 10px;
        padding: 5px;
    }

    &__goods-list {
        justify-content: space-around;
        padding: 10px 0px;
        text-align: center;
        transition: all 0.3s;
    }
}

.info {
    &__logo {
        margin: 0px 10px 0px 0px;
    }

    &__delivery {
        font-size: 20px;
        font-weight: 700;
        line-height: 23px;
        
        &_text {
            color: var(--gray);
        }
    }
}

.list__el {
    margin: 0px 25px 0px 0px;

    &_active {
        border-radius: 10px;
        background: var(--red);
        color: var(--white);
        padding: 10px;
    }

    &_last {
        margin: 0px;
    }
}

.goods-list__el {
    cursor: pointer;
    margin: 5px 10px;
}

.list__el:hover,
.goods-list__el:hover {
    color: var(--red);
    text-decoration: underline;
}

.list__el_active:hover {
    color: var(--white);
    text-decoration: none;
}

.login__btn {
    margin: 0px 50px 0px 0px;  
}

.cart__btn {
    justify-content: center;
    padding: 0px;
    width: 150px;
}

@media(max-width: 1200px) {
    .info__delivery {
        display: none;
    }

    .login__btn {
        margin: 0px 30px 0px;
    }
}

@media(max-width: 980px) {
    .main-header {
        padding: 10px;

        &__burger {
            display: block;
            position: relative;
            height: 20px;
            width: 30px;
            z-index: 5;
        }

        &__burger::after,
        &__burger::before,
        &__burger span {
            background: var(--black);
            height: 2px;
            left: 0px;
            position: absolute;
            transition: all 0.3s ease 0s;
            width: 30px;  
        }

        &__burger::after, 
        &__burger::before { 
            content: "";  
        }

        &__burger::after { 
            bottom: 0px; 
        }

        &__burger::before { 
            top: 0px; 
        }

        &__burger span {
            top: 9px;    
        }

        &__burger.active {
            &::before {
                top: 9px;
                transform: rotate(45deg); 
            }

            &::after {
                bottom: 9px;
                transform: rotate(-45deg); 
            }

            & span { 
                transform: scale(0);
            }
        }

        &__info {
            display: none;
        }

        &__list {
            background: var(--white);
            flex-direction: column;
            justify-content: center;
            left: 0px;
            height: 100%;
            position: fixed;
            transition: all 0.3s;
            top: -100%;
            width: 100%;
            z-index: 4;

            &.active {
                top: 0px;
            }
        }
    }

    .list__el {
        margin: 20px 0px 0px;
    }
}

@media(max-width: 767px) { 
    .main-header__goods-list {
        flex-wrap: wrap;
    }

    .goods-list__el {
        flex: 0 0 30%;
        margin: 10px 0px 0px;
    }
}

@media(max-width: 520px) {
    .main-header__sep,
    .main-header__goods-list {
        display: none;
    }

    .login__btn {
        margin: 0px 10px 0px 0px;
    }
}

@media(max-width: 340px) {
    .btn {
        padding: 10px;
        width: 44px;

            &__icon {
                margin: 0px;
            }

            &__text {
                display: none;
            }
    }
}
