@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

/* 
    ----------------
     Global section
    ----------------
*/

:root {
    --black: #000000;
    --white: #ffffff;
    --very-light-gray: #f7f7f7;
    --light-gray: #DDDDDD;
    --gray: #A7A7A7;
    --transp-white: rgba(255, 255, 255, 0.93);
    --profile-color: rgba(255, 255, 255, 0.886);
    --inputs-hover-color: rgba(255, 255, 255, 0.131);
    --dark-gray: #464646;
    --btn-hover-color: #2a2a2a;
    --light-red: #e85266;
    --red: #EF314B;
    --green: #4AB838;
}

body {
    background: var(--white);
    color: var(--black);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
}

body::-webkit-scrollbar,
.cart-block__items::-webkit-scrollbar {
    width: 10px;

    &-track {
        background: var(--light-gray);
    }

    &-thumb {
        background: var(--red);
        border-radius: 5px;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.lock {
    pointer-events: none; 
}

.no-scroll {
    overflow: hidden;
}

.main-header,
.main-content,
.main-header__goods-navigation {
    margin: 0px auto;
    max-width: 1280px;
    width: 100%;
}

.cart__icon,
.slider-item,
.max-amount-block,
.product__item__counter,
.main-content__contacts {
    align-items: center;
    display: flex;
    justify-content: center;
}

.btn {
    background: var(--red);
    border-radius: 20px;
    color: var(--white);
    padding: 8px 15px;
    height: 40px;

    &__icon {
        margin-right: 10px;
    }

    &__text {
        font-size: 16px;
        font-weight: 600;
    }
}

.btn:hover,
.cart__icon:hover {
    background: var(--light-red);
    box-shadow: 0px 0px 10px var(--gray);
    transform: scale(1.05);
}

.title {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
}

.catalog__title,
.product__title,
.left-block__title {
    color: var(--red);
    font-size: 32px;
}

.product__sep,
.main-header__sep {
    background: var(--light-gray);
    height: 2px;
}

/* 
    --------------
     Main section
    --------------
*/

.main-content {
    flex: 1 0 auto;
    padding-inline: 65px;
    position: relative;
}

.cart__icon {
    background: var(--red);
    border-radius: 20px;
    bottom: 130px;
    cursor: pointer;
    padding: 15px;
    right: 100px;
    z-index: 1;

    & img {
        height: 20px;
        width: 20px;
    }

    & img:first-child {
        margin-bottom: 10px;
    }
}

.cart__icon,
.max-amount-block {
    flex-direction: column;
    opacity: 1;
    position: fixed;
    transition: opacity 0.3s;
}

.max-amount-block {
    background: var(--dark-gray);
    box-shadow: 0px 0px 10px var(--dark-gray);
    border-radius: 15px;
    color: var(--light-gray);
    padding: 20px 15px 10px;
    height: 110px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 205px;
    z-index: 3;

    &__text {
        text-align: center;
        margin-bottom: 10px;
    }

    &__btn {
        background: var(--red);
        border-radius: 15px;
        color: var(--light-gray);
        font-weight: 600;
        padding-block: 10px;
        pointer-events: auto;
        width: 100px;
    }
}

.max-amount-block__btn:hover {
    background: var(--light-red);
    box-shadow: 0px 0px 10px var(--btn-hover-color);
    transform: scale(1.05);
}

@media(max-width: 767px) {
    .main-content {
        padding-inline: 35px;
    }

    .cart__icon {
        right: 20px;
        bottom: 140px;
    }
}

@media(max-width: 520px) {
    .main-content {
        padding-inline: 15px; 
    }
}

@import "./slick-slider_style.scss";
@import "./header_style.scss";
@import "./banner-slider_style.scss";
@import "./catalog_style.scss";
@import "./products_style.scss";
@import "./contacts_style.scss";
@import "../../resourses/scss/cart_style.scss";
@import "../../resourses/scss/profile_style.scss";
@import "../../resourses/scss/footer_style.scss";
@import "../../resourses/scss/loader_style.scss";

.hide {
    display: none;
}

.hide-element {
    opacity: 0;
    pointer-events: none;
}
