@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

/* 
    ----------------
     Global section
    ----------------
*/

:root {
    --black: #000000;
    --white: #ffffff;
    --gray: #A7A7A7;
    --very-light-gray: #f7f7f7;
    --light-gray: #DDDDDD;
    --dark-gray: #464646;
    --green: #4AB838;
    --red: #EF314B;
    --light-red: #e85266;
}

body {
    background: var(--white);
    color: var(--black);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
}

body::-webkit-scrollbar,
.cart-block__items::-webkit-scrollbar {
    width: 10px;

    &-track {
        background: var(--light-gray);
    }

    &-thumb {
        background: var(--red);
        border-radius: 5px;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.lock { 
    pointer-events: none;
}

.no-scroll {
    overflow: hidden;
}

.title {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
}

.main-sep,
.main-header,
.main-content {
    margin: 0px auto;
    max-width: 1280px;
    width: 100%;
}

.main-sep {
    background: var(--light-gray);
    flex: 0 0 2px;
}

.cart__btn:hover {
    background: var(--light-red);
    box-shadow: 0px 0px 10px var(--gray);
    transform: scale(1.05);
}

/* 
    --------------
     Main section
    --------------
*/

.main-content {
    align-items: center;
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    justify-content: center;
    padding-inline: 35px;

    &__title {
        font-size: 28px;
        margin-top: 20px;
        text-align: center;
    }

    &__form {
        display: flex;
        flex-direction: column;
        margin: 20px auto;
        width: 300px;
    }
}

.main-content__error {
    color: var(--red);
    margin-top: 10px;
    text-align: center;
    height: 34px;
}

.max-amount-block {
    align-items: center;
    background: var(--dark-gray);
    box-shadow: 0px 0px 10px var(--dark-gray);
    border-radius: 15px;
    color: var(--light-gray);
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 1;
    position: fixed;
    padding: 20px 15px 10px;
    height: 110px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s;
    width: 205px;
    z-index: 3;

    &__text {
        text-align: center;
        margin-bottom: 10px;
    }

    &__btn {
        background: var(--red);
        border-radius: 15px;
        color: var(--light-gray);
        font-weight: 600;
        padding-block: 10px;
        width: 100px;
    }
}

.max-amount-block__btn:hover {
    background: var(--light-red);
    box-shadow: 0px 0px 10px var(--btn-hover-color);
    transform: scale(1.05);
}

@media(max-width: 1100px) {
    .main-content {
        padding-inline: 25px;
    }
}

@media(max-width: 850px) {
    .main-content {
        margin-bottom: 20px;
    }
}

@media(max-width: 767px) {
    .main-content {
        padding-inline: 25px; 
    }
}

@media(max-width: 520px) {
    .main-content {
        padding-inline: 15px;
    }
}

@import "./header_style.scss";
@import "./profile_style.scss";
@import "../../resourses/scss/cart_style.scss";
@import "../../resourses/scss/footer_style.scss";
@import "../../resourses/scss/loader_style.scss";

.hide {
    display: none;
}

.hide-element {
    opacity: 0;
    pointer-events: none;
}

.right-input {
    box-shadow: 0px 0px 5px var(--green);
    border: 1px solid var(--green); 
}

.wrong-input {
    box-shadow: 0px 0px 5px var(--red);
    border: 1px solid var(--red);
}
