// Basic colors
$black: #000000;
$white: #FFFFFF;
$gray: #A7A7A7;
$red: #EF314B;
$green: #4AB838;
$dark-gray: #464646;

// Counter and some buttons hover, background and box shadows color
$frame-color: #F7F7F7;

// Lines and frames color
$line-color: #DDDDDD;

// Buttons hover color
$hover-red: #E85266;

// Profile block background
$back-gray: rgba(255, 255, 255, 0.886);

// Inputs hover color
$hover-gray: rgba(255, 255, 255, 0.131);

// Max amount block button hover color
$max-amount-color: #2A2A2A;