/* 
    ------------
    Cart section
    ------------
*/

.item {
    display: grid;
    gap: 5px;
    grid-template: repeat(3, 50px) / repeat(4, 1fr);
    grid-template-areas:
        "image title title country"
        "image title title weight"
        "image buttons delete price";

    &__image {
        grid-area: image;

        & img {
            border-radius: 10px;
            object-fit: cover;
        }
    }

    &__title {
        font-size: 22px;
        grid-area: title;
    }

    &__country,
    &__weight,
    &__delete,
    &__price {
        align-items: center;
        text-align: center;
    }

    &__country {
        color: var(--gray);
        grid-area: country;
    }

    &__weight {
        grid-area: weight;
    }

    &__btns-block {
        display: flex;
        grid-area: buttons;
    }

    &__counter,
    &__btn {
        align-items: center;
        background: var(--white);
        border: 2px solid var(--light-gray);
        display: flex;
        justify-content: center;
        height: 40px;
        width: 40px;
    }

    &__counter:hover,
    &__btn:hover {
        background: var(--very-light-gray);
    }

    &__counter {    
        border-radius: 5px 0px 0px;
    }

    &__delete {
        cursor: pointer;
        grid-area: delete;
    }

    &__delete:hover {
        color: var(--red);
    }

    &__price {
        grid-area: price;
        font-weight: 600;
        font-size: 18px;
    }
}

.cart-sep {
    margin-block: 10px;

    &:last-child {
        display: none;
    }
}

.minus-btn {
    border-left: 1px solid var(--light-gray);
}

.plus-btn {
    border-radius: 0px 5px 0px 0px;
    border-left: 1px solid var(--light-gray);
}

@media(max-width: 520px) {
    .item {
        grid-template-rows: repeat(3, 40px);
    }
}

@media(max-width: 450px) {
    .item {
        grid-template: 100px 40px 30px 40px / repeat(3, 1fr);
        grid-template-areas:
            "image image image"
            "title title title"
            "country weight weight"
            "buttons delete price";

        &__title {
            text-align: center;
        }

        &__weight,
        &__price {
            text-align: right;
        }
    }
}

@media(max-width: 345px) {
    .item {
        grid-template: 100px 40px 40px 30px / repeat(3, 1fr);
        grid-template-areas:
            "image image image"
            "title title title"
            "buttons delete delete"
            "price price price";

        &__price {
            text-align: center;
        }

        &__country,
        &__weight {
            display: none;
        }
    }
}