/*
    ------------------
    Empty cart section
    ------------------
*/
.empty-block {
    align-items: center;
    flex: 1 0 100%;
    justify-content: center;
    height: 60vh;

    &__image {
        height: 60px;
        width: 60px;
    }

    &__title {
        font-size: 24px;
        margin-block: 20px;
    }

    &__text {
        max-width: 250px;
        text-align: center;
    }

    &__btn {
        margin-block: 20px;
        width: 250px; 
    }

    &__return {
        cursor: pointer;
    }

    &__text a,
    &__return {
        color: var(--red);
        text-decoration: underline;
    }
}