/* 
    ----------------
     Header section
    ----------------
*/

.login__btn,
.main-header__info,
.main-header__list,
.main-header__login,
.main-header__wrapper {
    align-items: center;
    display: flex;
}

.main-header {
    padding: 10px 30px;

    &__wrapper {
        justify-content: space-between;
    }

    &__burger {
        display: none;
    }

    &__login {
        position: relative;
    }
}

.info {
    &__logo {
        margin: 0px 10px 0px 0px; 
    }

    &__delivery {
        font-size: 20px;
        font-weight: 700;
        line-height: 23px;
        
        &_text {
            color: var(--gray);
        }
    }
}

.list__el {
    margin: 0px 25px 0px 0px;
    pointer-events: auto;

    &_last {
        margin: 0px;
    }
}

.list__el:hover {
    color: var(--red);
    text-decoration: underline;
}

.login__btn {
    background: var(--red);
    border-radius: 20px;
    color: var(--white);
    padding: 8px 15px;
    height: 40px; 

    &_icon {
        margin: 0px 10px 0px 0px;
    }

    &_text {
        font-size: 16px;
        font-weight: 600;
    }  
}

@media(max-width: 1200px) {
    .info__delivery {
        display: none;
    }
}

@media(max-width: 815px) {
    .main-header {
        padding: 10px;

        &__burger {
            display: block;
            position: relative;
            pointer-events: auto;
            height: 20px;
            width: 30px;
            z-index: 5;
        }

        &__burger::after,
        &__burger::before,
        &__burger span {
            background: var(--black);
            height: 2px;
            left: 0px;
            position: absolute;
            transition: all 0.3s ease 0s;
            width: 30px;  
        }

        &__burger::after, 
        &__burger::before { 
            content: "";  
        }

        &__burger::after { 
            bottom: 0px; 
        }

        &__burger::before { 
            top: 0px; 
        }

        &__burger span {
            top: 9px;    
        }

        &__burger.active {
            &::before {
                top: 9px;
                transform: rotate(45deg); 
            }

            &::after {
                bottom: 9px;
                transform: rotate(-45deg); 
            }

            & span { 
                transform: scale(0);
            }
        }

        &__info {
            display: none;
        }

        &__list {
            background: var(--white);
            flex-direction: column;
            justify-content: center;
            left: 0px;
            height: 100%;
            position: fixed;
            transition: all 0.3s;
            top: -100%;
            width: 100%;
            z-index: 4;

            &.active {
                top: 0px;
            }
        }
    }

    .list__el {
        margin: 20px 0px 0px;
    }
}

@media(max-width: 320px) {
    .login__btn {
        padding: 10px;
        width: 40px;

        &_icon {
            margin: 0px;
        }

        &_text {
            display: none;
        }
    }
}
