@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

/* 
    ----------------
     Global section
    ----------------
*/

:root {
    --black: #000000;
    --white: #ffffff;
    --profile-color: rgba(255, 255, 255, 0.886);
    --inputs-hover-color: rgba(255, 255, 255, 0.131);
    --gray: #A7A7A7;
    --very-light-gray: #f7f7f7;
    --light-gray: #DDDDDD;
    --dark-gray: #464646;
    --btn-hover-color: #2a2a2a;
    --red: #EF314B;
    --light-red: #e85266;
}

body {
    background: var(--white);
    color: var(--black);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
}

body::-webkit-scrollbar,
.cart-block__items::-webkit-scrollbar {
    width: 10px;

    &-track {
        background: var(--light-gray);
    }

    &-thumb {
        background: var(--red);
        border-radius: 5px;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.lock { 
    pointer-events: none;
}

.no-scroll {
    overflow: hidden;
}

.title {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
}

.main-sep,
.main-header,
.main-content {
    margin: 0px auto;
    max-width: 1280px;
    width: 100%;
}

.main-sep {
    background: var(--light-gray);
    flex: 0 0 2px;
}

.cart__btn:hover {
    background: var(--light-red);
    box-shadow: 0px 0px 10px var(--gray);
    transform: scale(1.05);
}

/* 
    --------------
     Main section
    --------------
*/

.main-content {
    flex: 1 0 auto;
    padding-inline: 35px;

    &__image {
        margin-block: 30px;
        width: 100%;

        & img {
            border-radius: 20px;
            height: 100%;
            width: 100%;
        }
    }

    &__title {
        font-size: 22px;
        line-height: 23px;
        margin-bottom: 20px;
    }

    &__text {
        max-width: 480px;

        &_last {
            margin-bottom: 20px;
            max-width: 100%;
        }

        &_whitespace {
            margin-top: 20px;
        }

        &_second-block {
            max-width: 600px;

            &_last {
                margin: 20px 0px 100px;
                max-width: 100%;
            }
        }
    }
}

.max-amount-block {
    align-items: center;
    background: var(--dark-gray);
    box-shadow: 0px 0px 10px var(--dark-gray);
    border-radius: 15px;
    color: var(--light-gray);
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 1;
    position: fixed;
    padding: 20px 15px 10px;
    height: 110px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s;
    width: 205px;
    z-index: 3;

    &__text {
        text-align: center;
        margin-bottom: 10px;
    }

    &__btn {
        background: var(--red);
        border-radius: 15px;
        color: var(--light-gray);
        font-weight: 600;
        padding-block: 10px;
        width: 100px;
    }
}

.max-amount-block__btn:hover {
    background: var(--light-red);
    box-shadow: 0px 0px 10px var(--btn-hover-color);
    transform: scale(1.05);
}

@media(max-width: 1100px) {
    .main-content {
        padding-inline: 25px;
    }
}

@media(max-width: 850px) {
    .main-content {
        margin-bottom: 20px;
    }
}

@media(max-width: 767px) {
    .main-content {
        padding-inline: 25px; 
    }
}

@media (max-width: 520px) {
    .main-content {
        padding-inline: 15px;
        
        &__image {
            margin: 20px 0px 10px;

            & img {
                border-radius: 5px;
                height: 140px;
            }
        }

        &__title {
            font-size: 18px;
            margin-bottom: 10px;
            text-align: center;
        }

        &__text,
        &__text_second-block {
            font-size: 14px;
            margin-block: 10px;
        }
    }
}

@import "./header_style.scss";
@import "../../resourses/scss/cart_style.scss";
@import "../../resourses/scss/profile_style.scss";
@import "../../resourses/scss/footer_style.scss";
@import "../../resourses/scss/loader_style.scss";

.hide {
    display: none;
}

.hide-element {
    opacity: 0;
    pointer-events: none;
}
