/* 
    ----------------
     Header section
    ----------------
*/

.cart__btn,
.main-header__info,
.main-header__list,
.main-header__wrapper,
.main-header__btns-block {
    align-items: center;
    display: flex;
}

.main-header {
    padding: 10px 30px;

    &__wrapper {
        justify-content: space-between;
    }

    &__burger {
        display: none;
    }

    &__btns-block {
        position: relative;
    }

    &__cart-block {
        background: var(--white);
        box-shadow: 0px 0px 10px var(--gray);
        border-radius: 10px;
        padding: 5px;
    }
}

.info {
    &__logo {
        margin: 0px 10px 0px 0px;
    }

    &__delivery {
        font-size: 20px;
        font-weight: 700;
        line-height: 23px;
        
        &_text {
            color: var(--gray);
        }
    }
}

.list__el {
    margin: 0px 25px 0px 0px;

    &_active {
        border-radius: 10px;
        background: var(--red);
        color: var(--white);
        padding: 10px;
    }

    &_last {
        margin: 0px;
    }
}

.list__el:hover {
    color: var(--red);
    text-decoration: underline;
}

.cart__btn {
    background: var(--red);
    border-radius: 20px;
    color: var(--white);
    justify-content: center;
    height: 40px;
    width: 150px;

    &__icon {
        margin: 0px 10px 0px 0px;
    }

    &__text {
        font-size: 16px;
        font-weight: 600;
    }
}

.cart__btn:hover,
.btn__cart:hover {
    background: var(--light-red);
    box-shadow: 0px 0px 10px var(--gray);
    transform: scale(1.05);
}

@media(max-width: 1200px) {
    .info__delivery {
        display: none;
    }
}

@media(max-width: 800px) {
    .main-header {
        padding: 10px;

        &__burger {
            display: block;
            position: relative;
            height: 20px;
            width: 30px;
            z-index: 3;
        }

        &__burger::after,
        &__burger::before,
        &__burger span {
            background: var(--black);
            height: 2px;
            left: 0px;
            position: absolute;
            transition: all 0.3s ease 0s;
            width: 30px;  
        }

        &__burger::after, 
        &__burger::before { 
            content: "";  
        }

        &__burger::after { 
            bottom: 0px; 
        }

        &__burger::before { 
            top: 0px; 
        }

        &__burger span {
            top: 9px;    
        }

        &__burger.active {
            &::before {
                top: 9px;
                transform: rotate(45deg); 
            }

            &::after {
                bottom: 9px;
                transform: rotate(-45deg); 
            }

            & span { 
                transform: scale(0);
            }
        }

        &__info {
            display: none;
        }

        &__list {
            background: var(--white);
            flex-direction: column;
            justify-content: center;
            left: 0px;
            height: 100%;
            position: fixed;
            transition: all 0.3s;
            top: -100%;
            width: 100%;
            z-index: 2;

            &.active {
                top: 0px;
            }
        }
    }

    .list__el {
        margin: 20px 0px 0px;
    }
}

@media(max-width: 320px) {
    .cart__btn {
        padding: 10px;
        width: 44px;

        &__icon {
            margin: 0px;
        }

        &__text {
            display: none;
        }
    }
}
