@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

// Import different variables
@import "../../resourses/scss/variables.scss";

/* 
    ----------------
     Global section
    ----------------
*/

body {
    background: $white;
    color: $black;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
}

body::-webkit-scrollbar,
.cart-block__items::-webkit-scrollbar {
    width: 10px;

    &-track {
        background: $line-color;
    }

    &-thumb {
        background: $red;
        border-radius: 5px;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.lock { 
    pointer-events: none;
}

.no-scroll {
    overflow: hidden;
}

.title {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
}

.main-sep,
.main-header,
.main-content {
    margin: 0px auto;
    max-width: 1280px;
    width: 100%;
}

.main-sep {
    background: $line-color;
    flex: 0 0 2px;
}

//import header section
@import "./header_style.scss";

/* 
    --------------
     Main section
    --------------
*/

.main-content {
    align-items: center;
    display: flex;
    flex: 1 0 auto;
    justify-content: center;
    padding: 20px 35px;
}



@media(max-width: 1100px) {
    .main-content {
        padding: 20px 25px;
    }
}

@media(max-width: 767px) {
    .main-content {
        padding: 20px 25px 
    }
}

@media (max-width: 520px) {
    .main-content {
        padding: 20px 15px; 
    }
}

// Import profile section
@import "./profile_style.scss";

// Import other files
@import "../../resourses/scss/cart_style.scss";
@import "../../resourses/scss/footer_style.scss";
@import "../../resourses/scss/max-block_style.scss";
@import "../../resourses/scss/loader_style.scss";

.hide {
    display: none;
}

.hide-element {
    opacity: 0;
    pointer-events: none;
}
