@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");
/* 
    ----------------
     Global section
    ----------------
*/
:root {
  --black: #000000;
  --white: #ffffff;
  --transp-white: rgba(255, 255, 255, 0.93);
  --profile-color: rgba(255, 255, 255, 0.886);
  --inputs-hover-color: rgba(255, 255, 255, 0.131);
  --gray: #A7A7A7;
  --very-light-gray: #f7f7f7;
  --light-gray: #DDDDDD;
  --dark-gray: #464646;
  --red: #EF314B;
  --light-red: #e85266;
  --green: #4AB838;
}

body {
  background: var(--white);
  color: var(--black);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.lock {
  overflow: hidden;
}

.title {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
}

.login__btn:hover,
.order__btn:hover,
.form__btn:hover,
.empty-block__btn:hover {
  background: var(--light-red);
  box-shadow: 0px 0px 10px var(--gray);
  transform: scale(1.05);
}

.item__image img,
.empty-block__image img {
  height: 100%;
  width: 100%;
}

.order__btn,
.form__btn,
.empty-block__btn {
  background: var(--red);
  border-radius: 10px;
  color: var(--white);
  font-size: 18px;
  font-weight: 600;
  height: 50px;
}

.main-header,
.main-content,
.main-footer__wrapper {
  margin: 0px auto;
  max-width: 1280px;
}

.main-sep,
.cart-sep {
  background: var(--light-gray);
  height: 2px;
  margin: 0px auto;
  max-width: 1250px;
}

/* 
    --------------
     Main section
    --------------
*/
.main-content {
  padding: 0px 35px;
  min-height: 78.1%;
}
.main-content__info {
  display: flex;
  margin: 30px 0px;
}
.main-content__sections {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.main-content__cart, .main-content__order, .main-content__empty-block {
  border-radius: 10px;
  box-shadow: 0px 0px 10px var(--gray);
  display: flex;
  flex: 0 0 70%;
  flex-direction: column;
  padding: 10px;
}
.main-content__cart, .main-content__empty-block {
  margin: 0px 0px 30px;
}

.info__title {
  font-size: 30px;
  margin: 0px 20px 0px 0px;
}
.info__counter {
  color: var(--gray);
}

@media (max-width: 1100px) {
  .main-content {
    padding: 0px 25px;
  }
}
@media (max-width: 850px) {
  .main-content {
    margin: 0px 0px 20px;
  }
  .main-content__info {
    justify-content: center;
    margin: 20px 0px;
  }
  .main-content__cart {
    flex: 0 1 100%;
  }
}
@media (max-width: 767px) {
  .main-content {
    padding: 0px 25px;
  }
}
@media (max-width: 520px) {
  .main-content {
    padding: 0px 15px;
  }
  .main-content__info {
    margin: 10px 0px;
  }
}
/* 
    ----------------
     Header section
    ----------------
*/
.login__btn,
.main-header__info,
.main-header__list,
.main-header__login,
.main-header__wrapper {
  align-items: center;
  display: flex;
}

.main-header {
  padding: 10px 30px;
}
.main-header__wrapper {
  justify-content: space-between;
}
.main-header__burger {
  display: none;
}
.main-header__login {
  position: relative;
}

.info__logo {
  margin: 0px 10px 0px 0px;
}
.info__delivery {
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
}
.info__delivery_text {
  color: var(--gray);
}

.list__el {
  margin: 0px 25px 0px 0px;
}
.list__el_last {
  margin: 0px;
}

.list__el:hover {
  color: var(--red);
  text-decoration: underline;
}

.login__btn {
  background: var(--red);
  border-radius: 20px;
  color: var(--white);
  padding: 8px 15px;
  height: 40px;
}
.login__btn_icon {
  margin: 0px 10px 0px 0px;
}
.login__btn_text {
  font-size: 16px;
  font-weight: 600;
}

@media (max-width: 1200px) {
  .info__delivery {
    display: none;
  }
}
@media (max-width: 767px) {
  .main-header {
    padding: 10px;
  }
  .main-header__burger {
    display: block;
    position: relative;
    height: 20px;
    width: 30px;
    z-index: 3;
  }
  .main-header__burger::after, .main-header__burger::before, .main-header__burger span {
    background: var(--black);
    height: 2px;
    left: 0px;
    position: absolute;
    transition: all 0.3s ease 0s;
    width: 30px;
  }
  .main-header__burger::after, .main-header__burger::before {
    content: "";
  }
  .main-header__burger::after {
    bottom: 0px;
  }
  .main-header__burger::before {
    top: 0px;
  }
  .main-header__burger span {
    top: 9px;
  }
  .main-header__burger.active::before {
    top: 9px;
    transform: rotate(45deg);
  }
  .main-header__burger.active::after {
    bottom: 9px;
    transform: rotate(-45deg);
  }
  .main-header__burger.active span {
    transform: scale(0);
  }
  .main-header__info {
    display: none;
  }
  .main-header__list {
    background: var(--white);
    flex-direction: column;
    justify-content: center;
    left: 0px;
    height: 100%;
    position: fixed;
    transition: all 0.3s;
    top: -100%;
    width: 100%;
    z-index: 2;
  }
  .main-header__list.active {
    top: 0px;
  }
  .list__el {
    margin: 20px 0px 0px;
  }
}
@media (max-width: 320px) {
  .login__btn {
    padding: 10px;
  }
  .login__btn__icon {
    margin: 0px;
  }
  .login__btn__text {
    display: none;
  }
}
/* 
    ------------
    Cart section
    ------------
*/
.item {
  display: grid;
  gap: 5px;
  grid-template: repeat(3, 50px)/repeat(4, 1fr);
  grid-template-areas: "image title title country" "image title title weight" "image buttons delete price";
}
.item__image {
  grid-area: image;
}
.item__image img {
  border-radius: 10px;
  object-fit: cover;
}
.item__title {
  font-size: 22px;
  grid-area: title;
}
.item__country, .item__weight, .item__delete, .item__price {
  align-items: center;
  text-align: center;
}
.item__country {
  color: var(--gray);
  grid-area: country;
}
.item__weight {
  grid-area: weight;
}
.item__btns-block {
  display: flex;
  grid-area: buttons;
}
.item__counter, .item__btn {
  align-items: center;
  background: var(--white);
  border: 2px solid var(--light-gray);
  display: flex;
  justify-content: center;
  height: 40px;
  width: 40px;
}
.item__counter:hover, .item__btn:hover {
  background: var(--very-light-gray);
}
.item__counter {
  border-radius: 5px 0px 0px;
}
.item__delete {
  cursor: pointer;
  grid-area: delete;
}
.item__delete:hover {
  color: var(--red);
}
.item__price {
  grid-area: price;
  font-weight: 600;
  font-size: 18px;
}

.cart-sep {
  margin: 10px 0px;
}
.cart-sep:last-child {
  display: none;
}

.minus-btn {
  border-left: 1px solid var(--light-gray);
}

.plus-btn {
  border-radius: 0px 5px 0px 0px;
  border-left: 1px solid var(--light-gray);
}

@media (max-width: 520px) {
  .item {
    grid-template-rows: repeat(3, 40px);
  }
}
@media (max-width: 450px) {
  .item {
    grid-template: 100px 40px 30px 40px/repeat(3, 1fr);
    grid-template-areas: "image image image" "title title title" "country weight weight" "buttons delete price";
  }
  .item__title {
    text-align: center;
  }
  .item__weight, .item__price {
    text-align: right;
  }
}
@media (max-width: 345px) {
  .item {
    grid-template: 100px 40px 40px 30px/repeat(3, 1fr);
    grid-template-areas: "image image image" "title title title" "buttons delete delete" "price price price";
  }
  .item__price {
    text-align: center;
  }
  .item__country, .item__weight {
    display: none;
  }
}
/* 
    -------------
    Order section
    -------------
*/
.order {
  flex: 0 0 25%;
  padding: 20px 10px 5px;
  height: 150px;
}
.order__result {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0px 0px 20px;
}
.order__title {
  color: var(--dark-gray);
  margin: 0px 0px 5px;
}
.order__counter, .order__price {
  font-size: 22px;
}
.order__btn {
  width: 100%;
}

@media (max-width: 1100px) {
  .order {
    flex: 0 0 29%;
  }
}
@media (max-width: 850px) {
  .order {
    flex: 0 1 100%;
  }
}
/*
    ------------------
    Empty cart section
    ------------------
*/
.empty-block {
  align-items: center;
  flex: 1 0 100%;
  justify-content: center;
  height: 50vh;
}
.empty-block__image {
  height: 60px;
  width: 60px;
}
.empty-block__title {
  font-size: 24px;
  margin: 20px 0px;
}
.empty-block__text {
  max-width: 250px;
  text-align: center;
}
.empty-block__btn {
  margin: 20px 0px;
  width: 250px;
}
.empty-block__return {
  cursor: pointer;
}
.empty-block__text a, .empty-block__return {
  color: var(--red);
  text-decoration: underline;
}

/* 
    ----------------
     Footer section
    ----------------
*/
.main-footer {
  background: var(--dark-gray);
}
.main-footer__pay, .main-footer__sup, .main-footer__wrapper {
  align-items: center;
  display: flex;
}
.main-footer__wrapper {
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px 30px;
}
.main-footer__text {
  color: var(--gray);
  margin: 15px 0px;
  text-align: center;
}

.pay__item,
.sup__text {
  margin: 0px 15px 0px 0px;
}

.pay__item_last {
  margin: 0px;
}

.sup__text {
  color: var(--red);
  font-size: 18px;
}

@media (max-width: 950px) {
  .footer-wrapper {
    padding: 20px 10px;
  }
}
@media (max-width: 790px) {
  .footer-wrapper {
    flex-direction: column;
    padding: 0px 0px 10px;
  }
}
/* 
    ---------------
    Profile section
    ---------------
*/
.profile-block {
  align-items: center;
  background: var(--profile-color);
  border: 3px solid var(--black);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 40px 25px 10px;
  position: fixed;
  transform: translate(-50%, -50%) scale(0);
  transition: all 0.3s;
  top: 50%;
  left: 50%;
  height: 440px;
  width: 400px;
}
.profile-block__icon {
  align-self: flex-end;
  background: var(--red);
  border-radius: 0px 17px 0px 20px;
  cursor: pointer;
  padding: 12px;
  margin: -40px -25px 0px;
  height: 50px;
  width: 50px;
}
.profile-block__icon:hover {
  background: var(--light-red);
}
.profile-block__title {
  font-size: 32px;
}
.profile-block__form {
  margin: 20px 0px;
  width: 100%;
}
.profile-block__text {
  flex: 1 0 auto;
  text-align: center;
}
.profile-block__text span {
  cursor: pointer;
  color: var(--red);
  font-weight: 600;
}
.profile-block__text span:hover {
  text-decoration: underline;
}

.form__item {
  position: relative;
  height: 30px;
  width: 100%;
  z-index: 1;
}
.form__item_email {
  margin: 25px 0px;
}
.form__input {
  background: inherit;
  border-bottom: 2px solid var(--black);
  border-radius: 10px 10px 0px 0px;
  font-size: 16px;
  font-weight: 400;
  padding: 10px 30px 10px 10px;
  transition: background 0.5s;
  width: 100%;
}
.form__input::placeholder {
  color: var(--black);
}
.form__input:hover, .form__input:focus {
  background: var(--inputs-hover-color);
}
.form__icon {
  bottom: 0px;
  position: absolute;
  right: 10px;
}
.form__checkbox {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 30px 0px 10px;
}
.form__checkbox_text {
  font-size: 16px;
  font-weight: 400;
  margin: 0px 0px 0px 10px;
}
.form__checkbox_text span {
  cursor: pointer;
  font-weight: 600;
}
.form__checkbox_text span:hover {
  text-decoration: underline;
}
.form__btn {
  padding: 15px 73px;
  width: 350px;
}
.form__btn_login {
  padding: 15px 140px;
  margin: 74px 0px 0px;
}

@media (max-width: 430px) {
  .profile-block {
    padding: 40px 10px 10px;
    width: 300px;
  }
  .profile-block__icon {
    margin: -40px -10px 0px;
  }
  .profile-block__title {
    font-size: 28px;
  }
  .form__btn {
    padding: 15px 40px;
    width: 100%;
  }
  .form__btn_login {
    padding: 15px 110px;
    margin: 50px 0px 20px;
  }
}
@media (max-width: 310px) {
  .profile-block {
    width: 250px;
  }
  .profile-block__title {
    font-size: 24px;
  }
  .form__btn {
    padding: 15px 12px;
  }
  .form__btn_login {
    padding: 15px 80px;
  }
}
.active_profile {
  transform: translate(-50%, -50%) scale(1);
}

/* 
    --------------
    Loader section
    --------------
*/
.loader {
  align-items: center;
  background: var(--white);
  display: flex;
  justify-content: center;
  position: fixed;
  overflow: hidden;
  transition: opacity 1s;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 4;
}
.loader__icon {
  width: 48px;
  height: 48px;
  display: inline-block;
  position: relative;
  border: 4px solid var(--black);
  box-sizing: border-box;
  animation: fill 1.3s linear infinite alternate;
  color: var(--red);
  border-radius: 0 0 4px 4px;
}
.loader__icon::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
  border: 4px solid var(--black);
  width: 20px;
  height: 25px;
  border-radius: 0 4px 4px 0;
}

@keyframes fill {
  0% {
    box-shadow: 0 0 inset;
  }
  100% {
    box-shadow: 0 -48px inset;
  }
}
.hide {
  display: none;
}